.tabbar-wrapper.alternate-menu-style{
	.tabbar{
		.tab{
			&.selected{
				> .tabbar-menu{
					height: calc(100% - 62px);
				}
			}
			.tabbar-menu{
				display: flex;
				position: fixed;
				z-index: -1;
				top: 0;
				bottom: 0;
				right: 0;
				width: 350px;
				max-height: 100%;
				height: 100%;
				@media(max-width: 575px){
					width: 100%;
				}
				left: unset;
				overflow: hidden;
				-webkit-overflow-scrolling: touch;
				transition: 0.45s;
				ul{
					overflow-y: auto;
					max-height: 100%;
					min-height: calc(100% - 20px);
					margin: 0;
					overflow-x: hidden;
					//overflow-x: hidden;
					li.menu-item-has-children{
						position: initial;
						display: flex;
						justify-content: space-between;
						align-items: center;
						.sub-menu{
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							//max-height: 100%;
							transform: translateX(100%);
							background-color:$primary;
							transition: 0.3s;
							visibility: hidden;
							z-index: 99;
							display: block;
							overflow-x: hidden;
						}
						&.active {
							position: initial;
							> .sub-menu{
								transform: translateX(0);
								visibility: visible;
							}
						}
						.dropdown-btn{
							position: initial;
							margin-right: 20px;
						}
					}
				}
			}
		}
	}
}



.tabbar-wrapper.alternate-menu-style{
	.tabbar-menu{
		//margin-top: 32px;
		transform: translateX(100%);
	}
}
.alternate-is-toggled {
	.tabbar-wrapper.alternate-menu-style{
		.tabbar-menu {
			transform: translateX(0);
		}
		&::after {
			opacity: 1;
			visibility: visible;
		}
	}
	.hamburger-menu-wrap-continer{
		.alternate-menu-style{
			transform: translateX(0);
		}
		&::after {
			opacity: 1;
			visibility: visible;
		}
	}

}
/**Hamburger menu styles**/
.hamburger-menu-wrap-continer{
	.alternate-menu-style{
		&.is-open{
			display: initial!important;
		}
		transform: translateX(100%);
		display: flex!important;
		position: fixed;
		z-index: 100;
		top: 12%;
		right: 0;
		bottom: 0;
		left: unset;
		width: 350px;
		@media(max-width: 575px){
			width: 100%;
		}
		//height: 100vh;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		transition: 0.45s;

		ul{
			width: 100%;
			height: 100%;
			max-height: 100%;
			margin: 0;
			overflow-x: hidden;
			li.menu-item-has-children{
				position: initial;
				display: flex;
				justify-content: space-between;
				align-items: center;
				a{
					width: 70% !important;
					padding: 10px 10px;
				}
				.sub-menu{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					transform: translateX(100%);
					background-color:$primary;
					transition: 0.3s;
					visibility: hidden;
					z-index: 99;
					display: block!important;
					color: #333;
				}
				&:after{
					display: none;
				}
				&.active {
					position: initial;
					> .sub-menu{
						transform: translateX(0);
						visibility: visible;
						overflow-x: hidden;

					}
				}
				.dropdown-btn{
					position: initial;
					margin-right: 20px;
				}
			}
		}

	}
}
.logged-in.admin-bar{
	.hamburger-menu-wrap-continer{
		.alternate-menu-style{
			top: 114px
		}
	}
	.tabbar-wrapper.alternate-menu-style{
		.tabbar-menu{
			top: 32px;
			padding-top: 20px;

		}
	}
}

.tabby-tabbar-top{
	.tabbar-wrapper.alternate-menu-style{
		.tabbar{
			.tab{
				&.selected{
					> .tabbar-menu{
						height: calc(100% - 62px);
					}
				}
				.tabbar-menu {
					top: 62px;
				}
			}
		}
	}
}

.tabbar-wrapper.alternate-menu-style .tabbar .tab div.tabbar-menu .search-bar + .main-menu-wrapper,
.tabbar-wrapper.alternate-menu-style .tabbar .tab div.tabbar-menu .search-bar + .menu{
	margin-top: 58px;
	height: calc(100% - 58px);
}
.tabby-tabbar-top .tabbar-wrapper.alternate-menu-style .tabbar .tab div.tabbar-menu .search-bar + .main-menu-wrapper,
.tabby-tabbar-top .tabbar-wrapper.alternate-menu-style .tabbar .tab div.tabbar-menu .search-bar + .menu{
	margin-top:83px;
	max-height: calc(100% - 50px);
}
.tabbar-wrapper.alternate-menu-style .tabbar .tab div.tabbar-menu .main-menu-wrapper{
	margin-top: 10px;
}
.tabby-tabbar-top .tabbar-wrapper.alternate-menu-style .tabbar .search-bar{
	padding: 16px 5px 55px;
}

.tabby-tabbar-top{
	.tabbar-wrapper.alternate-menu-style {
		.tabbar{
			.tab {
				.tabbar-menu{
					ul{
						max-height: calc(100% - 13px);
						margin: 0 0 20px;
					}
				}
			}
		}
	}
}
