.banner {
	//background-image: url('../img/top-footer-bg.png');
	background-size: cover;
	background-color: #cc1e49;
	position: relative;
	color: #fff;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0;
	display: flex;
	align-items: center;
	min-height: 300px;
	&:before{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top:0;
		bottom: 0;
		z-index: 1;
		opacity: 0.3;
	}
	.banner-content{
		position: relative;
		z-index: 2;
		h1{
			color: #fff;
		}
	}
	&.banner-layout-3, &.banner-layout-4 {
		padding: 90px 0 60px;
	}
	&.banner-layout-4{
		.container-fluid{
			padding: 0 4%;
		}
	}
}