header.header {
	position: relative;
	.header-top-info {
		a{
			color: #fff;
		}
	}
	.tabby-top-menu{
		ul{
			list-style: none;
			li{
				display: inline;
				a{
					color: #fff;
				}
				+ li{
					margin-right: 15px;
				}
			}
		}
		ul.secondary-nav {
			li {
				&.header-top-btn{
					a{
						border-bottom: unset;
						text-decoration: none;
					}
				}
			}
		}
	}
	ul.tabby-social-links li a{
		@include transition(all 0.3s ease);
	}
	.header-main {
		@include transition(all 0.3s ease);
		.logo {
			padding: 8px 0;
			img {
				max-height: 52px;
				max-width: 220px;
				width: auto;
				object-fit: contain;
				@include transition(all 0.3s ease);
			}
		}
		.call-now-btn {
			a {
				background: $primary;
				border-radius: 5px;
				color: #fff;
				padding: 10px 20px;
			}
		}
		ul.menu{
			@include transition(all 0.3s ease);
			list-style: none;
			li {
				display: inline-block;
				a {
					color: #333;
					text-decoration: none;
					padding: 8px 10px;
					text-transform: uppercase;
					@media(max-width: 1200px) and(min-width: 992px){
						padding: 8px;
					}
				}
				& + li {
					margin-left: 8px;
				}
				&.main-menu-btn {
					a {
						color: #fff;
						padding: 10px 20px;
						display: block;
						border-radius: 50px;
						text-transform: none;
					}
				}

				/* drop down menu */
				&.menu-item-has-children {
					position: relative;
					padding-right:8px;
					&:last-child ul.sub-menu li>ul.sub-menu {
						visibility: hidden;
						opacity: 0;
						position: absolute;
						top: 0;
						right: 100%;
						left: -110% !important;
						z-index: 1;
						text-align: left;
						background: #333;
						min-width: 250px;
					}
					
					ul.sub-menu {
						margin-left: 0;
						position: absolute;
						left: 0;
						z-index: 99;
						visibility: hidden;
						opacity: 0;
						text-align: left;
						background: #333;
						min-width: 230px;
						top: 100%;
						padding-top: 26px;
						background: none;
						li {
							width: 100%;
							padding: 0;
							margin-left: 0;
							background-color: #444;
							a {
								padding: 10px 15px;
								border-bottom: 1px solid transparent;
								color: #fff;
								display: block;
								&:hover {
									background: #898989;
									border-bottom: 0 !important;
								}
							}
							> ul.sub-menu {
								visibility: hidden;
								opacity: 0;
								position: absolute;
								top: 0;
								left: 100%;
								z-index: 1;
								text-align: left;
								background: #333;
								min-width: 250px;
								li {
									> ul.sub-menu {
										visibility: hidden;
										opacity: 0;
										position: absolute;
										top: 0;
										left: 100%;
										z-index: 1;
										text-align: left;
										background: #ddd;
										min-width: 250px;
										li {
											a {
												&:hover {
													background: #898989;
													
												}
											}
										}
									}
									&:hover ul.sub-menu {
										visibility: visible;
										opacity: 1;
									}
								}
							}
							&:hover ul.sub-menu {
								visibility: visible;
								opacity: 1;
							}
						}
					}
					&:hover ul.sub-menu {
						visibility: visible;
						opacity: 1;
					}
				}
			}
			> li.menu-item-has-children {
				position: relative;
				&:after {
					font-size: 13px;
					content: "\f107";
					background: transparent;
					top: 4px;
					font-family: Font Awesome\ 5 Free;
					font-weight: 900;
					position: absolute;
					right: 0;
				}
				&:hover {
					&:after {
					}
				}
				> ul.sub-menu {
					> li.menu-item-has-children {
						position: relative;
						&:after {
							font-size: 13px;
							content: "\f105";
							background: transparent;
							top: 50%;
							font-family: Font Awesome\ 5 Free;
							font-weight: 900;
							position: absolute;
							right: 8px;
							margin-top: -7px;
							color: #fff;
						}
						> ul.sub-menu {
							
							> li.menu-item-has-children {
								position: relative;
								&:after {
									font-size: 13px;
									content: "\f105";
									background: transparent;
									top: 50%;
									font-family: Font Awesome\ 5 Free;
									font-weight: 900;
									position: absolute;
									right: 8px;
									margin-top: -7px;
									color: #fff;
								}
							}
						}
					}

				}
			}
		}
	}
	&.header-layout-2,&.header-layout-4{
		.container-fluid{
			padding-left: 4%;
			padding-right: 4%;
		}
	}
	&.header-layout-3, &.header-layout-4 {
		.header-main {
			position: absolute;
			background: 0 0;
			z-index: 9;
			width: 100%;
			.main-nav {
				ul {
					li {
						a {
							color: #fff;
						}
						&.main-menu-btn{
							a{
								background-color: #fff;
								&:hover{
									background-color: #fff;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media(max-width: 991px){

	body.tabby-hamburger-menu.tabby-sticky-header{
		#page{
			padding-top: 68px;
			header.header{
				position: fixed;
				top:0;
				left: 0;
				right: 0;
				z-index: 999;
				.header-main{
					position: relative;
				}
			}
		}
		&.logged-in.admin-bar{
			#page{
				header.header{
					top:32px;
					@media(max-width: 767px){
						top: 45px;
					}
				}
			}
		}
		&.tabby-header-layout-3,&.tabby-header-layout-4{
			#page{
				padding-top: 0;
			}
		}
		&.header-is-sticky{
			#page{
				header.header{
					-webkit-box-shadow: 0 6px 12px -6px rgba(0,0,0,.1);
					-moz-box-shadow: 0 6px 12px -6px rgba(0,0,0,.1);
					box-shadow: 0 6px 12px -6px rgba(0,0,0,.1);
					.header-main{
						height: 55px;
						.logo{
							padding: 8px 0;
							img{
								max-width: 180px;
							}
						}
					}
				}
			}
		}
	}
}
@media(max-width: 600px){
	html body #wpadminbar {
		position: fixed;
	}
}
.hamburger-menu-wrap-continer{
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
}
/** is sticky nav **/
body.header-is-sticky{
	#page{
		header.header{
			.header-top-bar{

			}
			.header-main{
				.logo{
					padding: 6px 0;
					img{
						max-height: 42px;
						width: auto;
						max-width: 220px;
						object-fit: contain;
						@include transition(all 0.3s ease);
					}
				}
				ul.menu{
					@include transition(all 0.3s ease);
				}
			}
		}
	}
}
ul.menu>li.menu-item-has-children:last-child>ul.sub-menu>li.menu-item-has-children:after {
	content: '' !important;
}
