.hip-info-box-wrapper-container{
  .hip-info-box-carousel{
    .hip-info-box-wrapper{
      padding: 15px;
      height: 100%;
      .hip-info-box-inner{
        border-radius: 5px;
        background-color: #fff;
        padding: 20px 25px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        height: 100%;
        position: relative;
        overflow: hidden;
        .hip-info-content{
          h4{
            margin-bottom: 10px;
          }
          a{
            text-decoration: underline;
          }
          span.info-icon{
            position: absolute;
            right: -5px;
            bottom: -7px;
            i {
              font-size: 80px;
              opacity: .2;
            }
          }
        }
      }
    }
    button.owl-prev, button.owl-next {
      position: absolute;
      top: 50%;
      margin-top: -25px;
      i{
        font-size: 1.5rem;
        color: #ddd;
      }
      &:focus{
        outline: none;
      }
    }
    button.owl-prev {
      left: -30px;
    }
    button.owl-next {
      right: -30px;
    }
    @media(max-width: 1200px){
      button.owl-prev {
        left: -5px;
      }
      button.owl-next {
        right: -5px;
      }
    }

    .owl-dots{
      text-align: center;
      margin-top: 20px;
      button.owl-dot{
        background: #b8c8da;
        z-index: 999;
        width: 11px;
        height: 11px;
        margin: 0 3px;
        border-radius: 50%;
        &.active {
          background: #578dce;
        }
        &:focus{
          outline: none;
        }
      }
    }
  }
}

