.hip-post-block-wrapper{
	.post-image{
		min-height: 300px;
		border-radius: 5px;
		background-size: cover;
		@media(max-width: 767px){
			border-radius: 0;
		}
	}
	.post-info{
		h2{
			color: #222;
			margin-bottom: 20px;
		}
		p{
			color: #666666;
			margin-bottom: 20px;
		}
	}
	&.layout-list{
		.hip-post-block-post{
			margin-bottom: 50px;
			@media(max-width: 767px){
				box-shadow: 0 0 15px rgba(11px,5px,49px,0.075);
				border-radius: 5px;
				overflow: hidden;
				margin-bottom: 30px;
			}
			&:last-child{
				padding-bottom: 0;
			}
			.left{
				.post-image{
					height: 100%;
					min-height: 400px;
					@media(max-width: 767px){
						height: auto;
						min-height: 320px;
					}
				}
			}
			.right{
				@media(min-width: 768px){
					padding-top: 50px;
					padding-bottom: 50px;
				}
				.post-content-wrapper{
					padding: 50px;
					background: #fff;
					box-shadow: 0 0 15px rgba(11px,5px,49px,0.075);
					border-radius: 5px;
					@media(min-width: 768px){
						width: -webkit-calc(100% + 100px);
						width: calc(100% + 100px);
						position: relative;
						left: -100px;
					}
					@media(max-width: 767px){
						text-align: center;
						box-shadow: none;
						border-radius: 0;
					}
					@media(max-width: 579px){
						padding: 30px;
					}
				}
			}

			&:nth-child(even){
				.right{
					.post-content-wrapper{
						@media(min-width: 768px){
							left: 0;
							right: -100px;
						}

					}
				}
			}
		}
	}
	&.layout-grid{
		.post-image{
			border-radius:0;
		}
		.hip-post-block-post{
			background: #fff;
			box-shadow: 0 0 10px rgba(0,0,0,0.2);
			border-radius: 5px;
			overflow: hidden;
			height: 100%;
			.post-content{
				padding: 20px;
				h2{
					color: #444;
				}
				p{
					margin: 0;
				}
			}
			.post-read-more{
				padding: 0 20px 20px;
				a.button-primary{
					background: none;
					padding: 0;
					min-width: 50px;
					color: #cc1e49;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
	&.layout-slide{
		.hip-post-block-carousel{
			.owl-stage{
				display: flex;
				.hip-post-block-post-wrapper{
					padding: 15px;
					height: 100%;
					.hip-post-block-post{
						border-radius: 5px;
						background-color: #fff;
						box-shadow: 0 0 10px rgba(0,0,0,0.1);
						height: 100%;
						.post-image{
							border-bottom-left-radius: 0;
							border-bottom-right-radius: 0;
						}
						.post-content{
							padding: 20px;
							p{
								margin: 0;
							}
						}
						.post-read-more{
							padding: 5px 20px 20px;
						}
					}
				}
			}
		}

	}
}
