.tabby-service-archive-wrapper{
	padding: 100px 0;
	.tabby-service-post{
		margin-bottom: 50px;
		box-shadow: 0 0 15px rgba(11,5,49,.075);
		border-radius: 5px;
		overflow: hidden;
		@media(min-width: 768px){
			box-shadow: none;
			border-radius: 0;
			overflow: visible;
		}
		&:last-child{
			margin-bottom: 0;
		}
		&:nth-child(odd){
			.right {
				.tabby-service-content-wrapper{
					@media(min-width: 768px){
						left: -100px;
					}
				}
			}
		}
		&:nth-child(even){
			.left {
				.tabby-service-content-wrapper{
					@media(min-width: 768px){
						right: -100px;
					}
				}
			}
		}
		.tabby-service-image{
			height: 100%;
			min-height: 260px;
			background-size: cover;
			@media(min-width: 768px){
				min-height: 400px;
				border-radius: 5px;
			}
		}
		.tabby-service-content-wrapper{
			padding: 25px 20px;
			background: #fff;
			box-shadow: none;
			border-radius: 0;
			position: relative;
			text-align: center;
			@media (min-width: 576px) {
				padding: 25px 15px 25px 0;
				text-align: left;
			}
			@media(min-width: 768px){
				padding: 37px;
				width: -webkit-calc(100% + 100px);
				width: calc(100% + 100px);
				border-radius: 5px;
				box-shadow: 0 0 15px rgba(11,5,49,.075);
			}
			@media (min-width: 992px) {
				padding: 50px;
			}
			.title{
				color: #222;
				margin-bottom: 20px;
			}
			.excerpt{
				color: #666;
				margin-bottom: 20px;
			}
		}
		.right{
			@media(min-width: 576px){
				padding-left: 5px;
			}
			@media(min-width: 768px){
				padding-left: 15px;
			}
		}

	}
	.tabby-service-content-wrapper{
		padding: 50px;
		background: #fff;
		box-shadow: 0 0 15px rgba(11,5,49,.075);
		border-radius: 5px;
		position: relative;
		.title{
			color: #222;
			margin-bottom: 20px;
		}
		.excerpt{
			color: #666;
			margin-bottom: 20px;
		}
	}
}