.hip-staff-block-wrapper{
	.staff-image{
		min-height: 300px;
		border-radius: 5px;
		background-size: cover;
		@media(max-width: 767px){
			border-radius: 0;
		}
	}
	.staff-info{
		h2{
			color: #222;
			margin-bottom: 20px;
		}
		p{
			color: #666666;
			margin-bottom: 20px;
		}
	}
	&.layout-list{
		.hip-staff-block-staff{
			margin-bottom: 50px;
			@media(max-width: 767px){
				box-shadow: 0 0 15px rgba(11px,5px,49px,0.075);
				border-radius: 5px;
				overflow: hidden;
				margin-bottom: 30px;
			}
			&:last-child{
				padding-bottom: 0;
			}
			.left{
				.staff-image{
					height: 100%;
					min-height: 400px;
					@media(max-width: 767px){
						height: auto;
						min-height: 320px;
					}
				}
			}
			.right{
				@media(min-width: 768px){
					padding-top: 50px;
					padding-bottom: 50px;
				}
				.staff-content-wrapper{
					padding: 50px;
					background: #fff;
					box-shadow: 0 0 15px rgba(11px,5px,49px,0.075);
					border-radius: 5px;
					@media(min-width: 768px){
						width: -webkit-calc(100% + 100px);
						width: calc(100% + 100px);
						position: relative;
						left: -100px;
					}
					@media(max-width: 767px){
						text-align: center;
						box-shadow: none;
						border-radius: 0;
					}
					@media(max-width: 579px){
						padding: 30px;
					}
				}
			}

			&:nth-child(even){
				.right{
					.staff-content-wrapper{
						@media(min-width: 768px){
							left: 0;
							right: -100px;
						}

					}
				}
			}
		}
	}

}