.archive-staff {
	.staff-member-item {
		.staff-img {
			height: 100%;
			img {
				height: 100%;
				max-height: 320px;
				object-fit: cover;
			}
		}
		h4 {
			a {
				color: #333;
				text-decoration: none;
			}
		}
		.read-more {
			a {
				color: #cc1e49;
			}
		}
		&.staff-layout-1 {
			height: 100%;
			position: relative;
			padding-bottom: 80px;
			.read-more {
				position: absolute;
				bottom: 30px;
				left: 50%;
				margin-left: -40.8px;
			}
		}
		&.staff-layout-2 {
			box-shadow: 0 0 18px 10px #f4f4f4;
			height: 100%;
			position: relative;
			padding-bottom: 40px;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			.staff-member-photo {
				height: 320px;
				max-height: 320px;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}
			.staff-content {
				padding: 20px;
				.read-more {
					position: absolute;
					bottom: 18px;
				}
			}
		}
	}
}
.single-staff-wrapper {
	.img-wrapper {

	}
	.content-wrapper {
		h1, h2, h3, h4, h5, h6 {
			color: #333;
			margin-bottom: 1rem;
		}
		.content {

		}
	}
}
.hip-staff-block-wrapper.layout-grid{
	.staff-image{
		border-radius:0;
	}
	.hip-staff-block-staff{
		background: #fff;
		box-shadow: 0 0 10px rgba(0,0,0,0.2);
		border-radius: 5px;
		overflow: hidden;
		height: 100%;
		.staff-content{
			padding: 20px;
			h2{
				color: #444;
			}
			p{
				margin: 0;
			}
		}
		.staff-read-more{
			padding: 0 20px 20px;
			a.button-primary{
				background: none;
				padding: 0;
				min-width: 50px;
				color: #cc1e49;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
