/* ** Colors ** */

$primary : #00a6ff;
$primary_dark : #00a0ea;

/* ** Media Queries ** */
$small_desktop: 1100px;
$tablet: 		992px;
$mobile: 		768px;
$mobile_sm: 	480px;

$breakpoints-max: (xl,1199px),(lg,991px),(md,767px),(sm,575px);
$breakpoints-min: (sm,576px), (md,768px), (lg,992px), (xl,1200px);