.button-base{
	padding: 10px 25px;
	min-width: 200px;
	border-radius: 50px;
	text-align: center;
	display: inline-block;
	&:hover{
		text-decoration: none;
	}
	&.small-size{
		min-width: 150px;
	}
	&.with-shadow{
		box-shadow: 11px 5px 18px rgba(0,0,0,0.1);
	}
}
.button-primary{
	@extend .button-base;
	color: #fff;
	&:visited,&:focus{
		color: #fff;
	}
}
.button-primary-outline{
	@extend .button-base;
	@include transition(all 0.2s ease);
	&:hover{
		color: #fff;
		box-shadow: 11px 5px 18px rgba(0,0,0,0.1);
	}
}
.tabby-block-btn{
	a{
		color: #222222;
		padding: 10px 25px;
		min-width: 200px;
		border-radius: 50px;
		background-color: #fff;
		display: inline-block;
		&:hover{
			text-decoration: none;
		}
	}
	&.primary,&.primary-highlight,&.secondary,&.secondary-highlight{
		a{
			color:#fff;
		}
	}
	&.small{
		a{
			min-width: 150px;
		}
	}
	&.with-shadow{
		a{
			box-shadow: 11px 5px 18px rgba(0,0,0,0.1);
		}
	}
}